src/test/resources/integration/select/select-single-query.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="selectSingleRecord">
        <db:query-single config-ref="dbConfig">
           <db:sql>SELECT ID, NAME, POSITION from PLANET WHERE NAME = :name</db:sql>
           <db:input-parameters>#[{name: vars.name}]</db:input-parameters>
        </db:query-single>
    </flow>

    <flow name="selectSingleRecordWithConnectionPool">
        <set-variable variableName="planetCollection" value="#[[]]" />

        <foreach collection="#[1 to vars.iterations]" >
          <db:query-single config-ref="dbConfigWithPooling">
             <db:sql>#["SELECT ID, NAME, POSITION FROM PLANET WHERE NAME = :name"]</db:sql>
             <db:input-parameters>#[{name: vars.name}]</db:input-parameters>
          </db:query-single>

          <set-variable variableName="planetCollection" value="#[vars.planetCollection ++ [payload]]" />
        </foreach>
    
        <set-payload value="#[vars.planetCollection]" />
    </flow>

    <flow name="querySingleWithNoRecords">
        <db:query-single config-ref="dbConfig">
            <db:sql>#["SELECT ID, NAME, POSITION FROM PLANET WHERE NAME = :name"]</db:sql>
            <db:input-parameters>#[{name: 'ALPHA CENTAURI'}]</db:input-parameters>
        </db:query-single>
    </flow>

    <flow name="querySingleWithManyRecordsReturnsOnlyOne">
        <db:query-single config-ref="dbConfigWithPooling">
            <db:sql>#["SELECT NAME FROM PLANET"]</db:sql>
        </db:query-single>
    </flow>

    <flow name="querySingleWithRecordWithClobField">
        <db:stored-procedure config-ref="dbConfigWithPooling">
            <db:sql>{ call updatePlanetDescription(:name, :description) }</db:sql>
            <db:parameter-types>
                <db:parameter-type key="description" type="CLOB" />
            </db:parameter-types>
            <db:input-parameters>
                #[{'name' : vars.name, 'description' : payload}]
            </db:input-parameters>
        </db:stored-procedure>

        <db:query-single config-ref="dbConfigWithPooling">
            <db:sql>#["SELECT DESCRIPTION FROM PLANET WHERE NAME = :name"]</db:sql>
            <db:input-parameters>
                #[{'name' : vars.name }]
            </db:input-parameters>
        </db:query-single>
    </flow>

    <flow name="querySingleWithRecordWithBlobField">
        <db:update config-ref="dbConfigWithPooling">
            <db:sql>#["UPDATE PLANET SET PICTURE = :picture WHERE NAME = :name"]</db:sql>
            <db:input-parameters>
                #[{'picture' : payload, 'name' : vars.name }]
            </db:input-parameters>
        </db:update>

        <db:query-single config-ref="dbConfigWithPooling">
            <db:sql>SELECT PICTURE FROM PLANET WHERE NAME = :name</db:sql>
            <db:input-parameters>
                #[{'name' : vars.name }]
            </db:input-parameters>
        </db:query-single>
    </flow>
</mule>