src/test/resources/integration/storedprocedure/stored-procedure-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="inOutParameterWithoutSpaceBeforeCall">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql>{call doubleMyInt(:myInt) }</db:sql>
            <db:in-out-parameters>
                <db:in-out-parameter key="myInt" value="3"/>
            </db:in-out-parameters>
        </db:stored-procedure>
    </flow>

    <flow name="inOutParameter">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql>{ call doubleMyInt(:myInt) }</db:sql>
            <db:in-out-parameters>
                <db:in-out-parameter key="myInt" value="3"/>
            </db:in-out-parameters>
        </db:stored-procedure>
    </flow>

    <flow name="outParam">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql>{ CALL countTestRecords(:count) }</db:sql>
            <db:output-parameters>
                <db:output-parameter key="count"/>
            </db:output-parameters>
        </db:stored-procedure>
    </flow>

    <flow name="multiplyInts">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql>{ call multiplyInts(:int1, :int2, :result1, :int3, :result2) }</db:sql>
            <db:input-parameters>
                #[{
                    'int1' : 3,
                    'int2' : 4,
                    'int3' : 5
                }]
            </db:input-parameters>
            <db:output-parameters>
                <db:output-parameter key="result1"/>
                <db:output-parameter key="result2"/>
            </db:output-parameters>
        </db:stored-procedure>
    </flow>

    <flow name="returnNullValue">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql>{ call returnNullValue(:s1, :s2, :result) }</db:sql>
            <db:input-parameters>
                #[{
                's1' : 'foo',
                's2' : 'bar'
                }]
            </db:input-parameters>
            <db:output-parameters>
                <db:output-parameter key="result"/>
            </db:output-parameters>
        </db:stored-procedure>
    </flow>

    <flow name="concatenateStrings">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql>{ call concatenateStrings(:s1, :s2, :result) }</db:sql>
            <db:input-parameters>
                #[{
                    's1' : 'foo',
                    's2' : 'bar'
                }]
            </db:input-parameters>
            <db:output-parameters>
                <db:output-parameter key="result"/>
            </db:output-parameters>
        </db:stored-procedure>
    </flow>

    <flow name="callNotExistingStoredProcedureWithAnArgument">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql>{ CALL doyouexists(:name) }</db:sql>
            <db:input-parameters>
                #[{ 'name' : 'mrstoredprocedure' }]
            </db:input-parameters>
        </db:stored-procedure>
    </flow>

    <flow name="addOne">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql>{ call mathFunction.addOne(:num) }</db:sql>
            <db:in-out-parameters>
                <db:in-out-parameter key="num" value="6"/>
            </db:in-out-parameters>
        </db:stored-procedure>
    </flow>

    <flow name="addOneNoSchema">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql>{ call addOne(:num) }</db:sql>
            <db:in-out-parameters>
                <db:in-out-parameter key="num" value="7"/>
            </db:in-out-parameters>
        </db:stored-procedure>
    </flow>

</mule>
