src/test/resources/integration/storedprocedure/stored-procedure-oracle-xmltype-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="listenerConfig" host="localhost" port="${port}"/>

    <db:config name="Database_Config" doc:name="Database Config">
        <db:generic-connection url="jdbc:oracle:thin:@localhost:1521:ORCLCDB" driverClassName="oracle.jdbc.driver.OracleDriver" user="SYSTEM" password="Oradoc_db1"/>
    </db:config>

    <flow name="oraclesXmlTypeTest">
        <http:listener path="test" config-ref="listenerConfig"/>

        <try>
            <db:execute-script config-ref="Database_Config">
                <db:sql><![CDATA[DROP TABLE ALIEN]]></db:sql>
            </db:execute-script>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>
        <db:execute-ddl config-ref="Database_Config">
            <db:sql><![CDATA[CREATE TABLE ALIEN(NAME varchar2(255), DESCRIPTION XMLTYPE)]]></db:sql>
        </db:execute-ddl>
        <db:execute-ddl config-ref="Database_Config">
            <db:sql><![CDATA[CREATE OR REPLACE PROCEDURE insertAlienDescription(pName IN VARCHAR2, pDescription IN XMLType) IS
                        BEGIN
                          INSERT INTO Alien VALUES (pName, pDescription);
                        END;]]>
            </db:sql>
        </db:execute-ddl>
        <db:execute-ddl config-ref="Database_Config">
            <db:sql><![CDATA[CREATE OR REPLACE PROCEDURE getAlienDescription(pName IN VARCHAR2, pDescription OUT XMLType) IS
                            BEGIN
                              SELECT DESCRIPTION INTO pDescription FROM Alien WHERE NAME = pName;
                            END;]]>
            </db:sql>
        </db:execute-ddl>

        <try>
            <db:stored-procedure config-ref="Database_Config">
                <db:sql><![CDATA[{ CALL insertAlienDescription(:name, :data) }]]></db:sql>
                <db:input-parameters><![CDATA[#[{
                                          "name" : "Julian",
                                          "data": payload
                                        }]]]>
                </db:input-parameters>
            </db:stored-procedure>
            <set-payload value="SUCCESS"/>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value="ERROR"/>
                </on-error-continue>
            </error-handler>
        </try>

        <try>
            <db:execute-script config-ref="Database_Config">
                <db:sql><![CDATA[DROP TABLE ALIEN]]></db:sql>
            </db:execute-script>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>