src/test/resources/integration/storedprocedure/stored-procedure-oracle-xmltype-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="xmlTypeInputParam">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql >{ call updateAlienDescription(:name, :description) }</db:sql>
            <db:input-parameters>#[{
                name : payload.name,
                description: payload.description
                }]
            </db:input-parameters>
        </db:stored-procedure>
    </flow>

    <flow name="xmlTypeOutputParam">
        <db:stored-procedure config-ref="dbConfig">
            <db:sql >{ call getAlienDescription(:name, :description) }</db:sql>
            <db:input-parameters>#[{
                name : payload.name
                }]
            </db:input-parameters>
            <db:output-parameters>
                <db:output-parameter key="description"/>
            </db:output-parameters>
        </db:stored-procedure>
    </flow>

</mule>

