src/test/munit/mysql/mysql-connector-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="SimpleCaseSetupFlow" doc:id="7445f606-a58a-4566-844d-ce83bc1249ad" >
		<db:insert doc:name="Insert" doc:id="f7a0ffa2-8247-4940-a6a7-0de67de688d2" config-ref="dbConfigMySQL">
			<db:sql ><![CDATA[INSERT INTO flights(start, destination) VALUES('NY', 'BR');
]]></db:sql>
		</db:insert>
	</flow>
	<flow name="StoreProcedureSetup" doc:id="5147b479-4f51-49ae-92bf-8602c488c2e1" >
		<db:execute-ddl doc:name="Execute DDL" doc:id="e574db1c-675a-475a-b80a-6e6a8f56db7d" config-ref="dbConfigMySQL" >
			<db:sql ><![CDATA[CREATE TABLE IF NOT EXISTS flights (
    id INT AUTO_INCREMENT PRIMARY KEY,
    start VARCHAR(255),
    destination VARCHAR(255)
);]]></db:sql>
		</db:execute-ddl>
		<db:execute-ddl doc:name="Execute DDL" doc:id="935c8730-1073-479c-b7d2-8a59038a93ab" config-ref="dbConfigMySQL">
			<db:sql ><![CDATA[CREATE PROCEDURE insertFlight (e_start CHAR(2), e_destination CHAR(2))
BEGIN
	INSERT INTO flights(start, destination) VALUES(e_start, e_destination);
END]]></db:sql>
		</db:execute-ddl>
		<db:execute-ddl doc:name="Execute DDL" doc:id="c0e26d87-c700-41e3-b3cb-0fa0ed693713" config-ref="dbConfigMySQL">
			<db:sql ><![CDATA[CREATE PROCEDURE selectFlight (e_destination CHAR(2))
BEGIN
	SELECT * FROM flights WHERE destination = e_destination;
END]]></db:sql>
		</db:execute-ddl>
		<db:execute-ddl doc:name="Execute DDL" doc:id="a66e704c-d14c-4e14-b603-7f20060602d0" config-ref="dbConfigMySQL">
			<db:sql ><![CDATA[CREATE PROCEDURE deleteFlight (e_destination CHAR(2))
BEGIN
	DELETE FROM flights WHERE destination = e_destination;
END]]></db:sql>
		</db:execute-ddl>
		<db:execute-ddl doc:name="Execute DDL" doc:id="3f25f1d8-c3b7-4079-b132-4a4628e1f3ab" config-ref="dbConfigMySQL">
			<db:sql ><![CDATA[CREATE PROCEDURE updateFlight (e_start CHAR(2), e_destination CHAR(2))
BEGIN
	UPDATE flights SET start = e_start WHERE destination = e_destination;
END]]></db:sql>
		</db:execute-ddl>
	</flow>
	<flow name="CreateTableInDatabaseFlow" doc:id="0191906c-8324-45ea-808f-fa302b5d4677" >
		<db:execute-ddl doc:name="Execute DDL" doc:id="68fa8051-eac6-4d00-893b-5554c1cfe3e1" config-ref="dbConfigMySQL">
			<db:sql><![CDATA[CREATE TABLE IF NOT EXISTS flights (
    id INT AUTO_INCREMENT PRIMARY KEY,
    start VARCHAR(255),
    destination VARCHAR(255)
);]]></db:sql>
		</db:execute-ddl>
	</flow>
    <flow name="BulkDeleteCaseSetup" doc:id="ca77bb1e-8b89-4682-8346-e500f92711be">
        <db:bulk-insert doc:name="Bulk insert" doc:id="9ef2a230-8233-4581-9fa9-d540533eaa9c" config-ref="dbConfigMySQL">
            <db:bulk-input-parameters><![CDATA[#[[
	{'start': 'NY', 'destination': 'BR'},
	{'start': 'CL', 'destination': 'FR'},
	{'start': 'CL', 'destination': 'FR'},
]]]]></db:bulk-input-parameters>
            <db:sql><![CDATA[INSERT INTO flights (start, destination) values (:start, :destination)]]></db:sql>
        </db:bulk-insert>
    </flow>
	<flow name="ComplexCaseSetup" doc:id="c09ffa6b-ea01-4212-b3a0-17a9f4dc9b89" >
		<db:insert doc:name="Insert" doc:id="7bb168f9-9370-4228-8077-ca39ddf4714f" config-ref="dbConfigMySQL">
			<db:sql ><![CDATA[INSERT INTO flights(start, destination) VALUES("NY", "BR");]]></db:sql>
		</db:insert>
		<db:insert doc:name="Insert" doc:id="8f956040-0dfb-4367-a942-40fcbb037c5e" config-ref="dbConfigMySQL">
			<db:sql ><![CDATA[INSERT INTO flights(start, destination) VALUES('AR', 'CL');]]></db:sql>
		</db:insert>
		<db:insert doc:name="Insert" doc:id="8b3a8b9c-3c09-4426-9168-d68059faa4af" config-ref="dbConfigMySQL">
			<db:sql ><![CDATA[INSERT INTO flights(start, destination) VALUES('CL', 'BR');]]></db:sql>
		</db:insert>
	</flow>
	<flow name="TruncateTableFlow" doc:id="249dd5ec-6a20-4da8-97f5-f4a1e277a9ae" >
		<db:delete doc:name="Delete" doc:id="a45e697d-a97f-4f10-bf4f-eed3315996c6" config-ref="dbConfigMySQL">
			<db:sql ><![CDATA[DELETE FROM flights;]]></db:sql>
		</db:delete>
	</flow>
	<flow name="DropFlightsTable" doc:id="086967d1-8af2-493e-812f-3e4bcd606b15" >
		<db:execute-ddl doc:name="Execute DDL" doc:id="950b2873-0c6e-428b-a853-9ef488fbe3c5" config-ref="dbConfigMySQL" >
			<db:sql ><![CDATA[DROP TABLE IF EXISTS flights;]]></db:sql>
		</db:execute-ddl>
		<db:execute-ddl doc:name="Execute DDL" config-ref="dbConfigMySQL" >
			<db:sql ><![CDATA[DROP PROCEDURE IF EXISTS insertFlight;
]]></db:sql>
		</db:execute-ddl>
		<db:execute-ddl doc:name="Execute DDL" doc:id="950b2873-0c6e-428b-a853-9ef488fbe3c5" config-ref="dbConfigMySQL" >
			<db:sql ><![CDATA[DROP PROCEDURE IF EXISTS selectFlight]]></db:sql>
		</db:execute-ddl>
		<db:execute-ddl doc:name="Execute DDL" doc:id="950b2873-0c6e-428b-a853-9ef488fbe3c5" config-ref="dbConfigMySQL" >
			<db:sql ><![CDATA[DROP PROCEDURE IF EXISTS updateFlight]]></db:sql>
		</db:execute-ddl>
		<db:execute-ddl doc:name="Execute DDL" doc:id="950b2873-0c6e-428b-a853-9ef488fbe3c5" config-ref="dbConfigMySQL" >
			<db:sql ><![CDATA[DROP PROCEDURE IF EXISTS deleteFlight]]></db:sql>
		</db:execute-ddl>
	</flow>
</mule>
