src/test/resources/integration/streaming/streaming-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="insert">
        <db:insert config-ref="dbConfig">
            <db:sql>INSERT INTO PLANET (ID, PICTURE) VALUES (88, :data)</db:sql>
            <db:input-parameters>
                #[{
                data : payload,
                }]
            </db:input-parameters>
        </db:insert>
    </flow>

    <flow name="select">
        <db:select config-ref="dbConfig">
            <db:sql>SELECT * FROM PLANET WHERE ID = 88</db:sql>
        </db:select>
    </flow>

</mule>
