src/test/resources/integration/streaming/streaming-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="insert">
        <db:insert config-ref="dbConfig">
            <db:sql>INSERT INTO PLANET (NAME, PICTURE) VALUES (:name, :data)</db:sql>
            <db:input-parameters>
                #[{
                data : payload,
                name : 88
                }]
            </db:input-parameters>
        </db:insert>
    </flow>

    <flow name="select">
        <db:select config-ref="dbConfig">
            <db:sql>SELECT * FROM PLANET WHERE NAME = '88'</db:sql>
        </db:select>
    </flow>

    <flow name="consumingStreamDoesntCloseConnection">
        <set-variable variableName="accumulator" value="#[[]]"/>
        <try transactionalAction="ALWAYS_BEGIN">
            <db:select config-ref="dbConfig">
                <db:sql>SELECT * FROM PLANET</db:sql>
            </db:select>
            <!--For each used to consume the entire stream-->
            <foreach>
                <set-variable variableName="accumulator" value="#[vars.accumulator + payload]"/>
            </foreach>
            <db:select config-ref="dbConfig">
                <db:sql>SELECT * FROM PLANET</db:sql>
            </db:select>
            <foreach>
                <set-variable variableName="accumulator" value="#[vars.accumulator + payload]"/>
            </foreach>
        </try>
        <set-payload value="#[vars.accumulator]"/>
    </flow>

</mule>
