src/test/munit/postgresql/db-connector-fips-sanity-check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:db="http://www.mulesoft.org/schema/mule/db"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:config name="postgres-config">
        <db:generic-connection url="jdbc:postgresql://dpg-cuubaql2ng1s73fn9pr0-a.virginia-postgres.render.com/gstg_test"
                               driverClassName="org.postgresql.Driver" user="gstg_user"
                               password="PeIkbWfueDlYphWPpTDfiCyLSaJYW3Pk"/>
    </db:config>
    <http:listener-config name="http-listener-config">
        <http:listener-connection host="localhost" port="8081" protocol="HTTP"/>
    </http:listener-config>
    <flow name="dropTableFlow">
        <http:listener path="/dropTableFlow" config-ref="http-listener-config" allowedMethods="DELETE"/>
        <db:execute-ddl config-ref="postgres-config">
            <db:sql>
                <![CDATA[DROP TABLE IF EXISTS PHONES]]>
            </db:sql>
        </db:execute-ddl>
    </flow>
    <flow name="createTableFlow">
        <http:listener path="/createTableFlow" config-ref="http-listener-config" allowedMethods="PUT"/>
        <db:execute-ddl config-ref="postgres-config">
            <db:sql>
                <![CDATA[CREATE TABLE IF NOT EXISTS phones (id SERIAL PRIMARY KEY, name VARCHAR(255) NOT NULL,price INTEGER NOT NULL)]]>
            </db:sql>
        </db:execute-ddl>
    </flow>

    <!-- Create Flow -->
    <flow name="createFlow">
        <http:listener path="/createFlow" config-ref="http-listener-config" allowedMethods="PUT"/>
        <db:insert config-ref="postgres-config">
            <db:sql>INSERT INTO phones (id, name, price) VALUES (#[payload.id], #[payload.name], #[payload.price])</db:sql>
        </db:insert>
    </flow>

    <!-- Read Flow -->
    <flow name="readFlow">
        <http:listener path="/readFlow" config-ref="http-listener-config" allowedMethods="GET"/>
        <db:select config-ref="postgres-config">
            <db:sql>SELECT * FROM phones WHERE id = #[payload.id]</db:sql>
        </db:select>
    </flow>

    <!-- Update Flow -->
    <flow name="updateFlow">
        <http:listener path="/updateFlow" config-ref="http-listener-config" allowedMethods="POST"/>
        <db:update config-ref="postgres-config">
            <db:sql>UPDATE phones SET name = #[payload.name], price = #[payload.price] WHERE id = #[payload.id]</db:sql>
        </db:update>
    </flow>

    <!-- Delete Flow -->
    <flow name="deleteFlow">
        <http:listener path="/deleteFlow" config-ref="http-listener-config" allowedMethods="DELETE"/>
        <db:delete config-ref="postgres-config">
            <db:sql>DELETE FROM phones WHERE id = #[payload.id]</db:sql>
        </db:delete>
    </flow>
</mule>