src/test/resources/integration/function/oracle/create-array.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule  xmlns="http://www.mulesoft.org/schema/mule/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="createArrayFromObjectArray">
        <set-variable variableName="array" value="#[[1234, 'Apple', 54] as Array { class : 'java.lang.Object[]'}]"/>
        <set-variable value="#[Db::createArray('dbConfig', 'PERSON_TABLE', [vars.array])]" variableName="PERSON" />
    </flow>

    <flow name="createArrayFromDWArray">
        <set-variable variableName="array" value="#[[1234, 'Apple', 54]]"/>
        <set-variable value="#[Db::createArray('dbConfig', 'PERSON_TABLE', [vars.array])]" variableName="PERSON" />
    </flow>

    <flow name="createArrayFromStruct">
        <set-variable variableName="array" value="#[[1234, 'Apple', 54]]"/>
        <set-variable value="#[Db::createArray('dbConfig', 'PERSON_TABLE', [Db::createStruct('dbConfig', 'PERSON_TYPE', vars.array)])]" variableName="PERSON" />
    </flow>
</mule>
