src/test/resources/tita/stored-procedure-oracle-reftype-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>

    <api-gateway:autodiscovery apiId="${api1}" flowRef="oraclesRefTypeTest"/>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}" protocol="HTTP"/>
    </http:listener-config>

    <db:config name="Database_Config">
        <db:oracle-connection host="localhost" port="${db.port}" user="SYSTEM" password="Oradoc_db1" instance="ORCLCDB"/>
    </db:config>

    <flow name="oraclesRefTypeTest">
        <http:listener path="/test-cursor-ref" config-ref="listenerConfig"/>

        <try>
            <db:execute-script config-ref="Database_Config">
                <db:sql><![CDATA[DROP TABLE TEST_MESSAGE]]></db:sql>
            </db:execute-script>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>
        <try>
            <db:execute-ddl config-ref="Database_Config">
                <db:sql><![CDATA[CREATE TABLE TEST_MESSAGE(MSG_ID NUMBER(19) GENERATED BY DEFAULT AS IDENTITY ( START WITH 1 NOCACHE ) NOT NULL, STATE varchar2(255), MSG NUMBER(1))]]></db:sql>
            </db:execute-ddl>
            <db:execute-ddl config-ref="Database_Config">
                <db:sql><![CDATA[INSERT INTO TEST_MESSAGE (STATE, MSG) values('SENT', 8)]]></db:sql>
            </db:execute-ddl>
            <db:execute-ddl config-ref="Database_Config">
                <db:sql><![CDATA[CREATE OR REPLACE PROCEDURE getMessageById(pMsgId IN NUMBER, cur OUT SYS_REFCURSOR) AS
                            BEGIN
                              OPEN cur FOR SELECT
                              FROM
                                TEST_MESSAGE MH
                              WHERE
                                MH.MSG_ID = pMsgId
                            END;]]>
                </db:sql>
            </db:execute-ddl>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value='#["ERROR Creating Stored Procedure -----&gt;" ++ "Error Description: " ++ error.description ++ "; Error errorType: " ++ error.errorType.identifier]'/>
                </on-error-continue>
            </error-handler>
        </try>

        <try>
            <db:stored-procedure config-ref="Database_Config">
                <db:sql><![CDATA[{ call getMessageById(:msgId, :out) }]]></db:sql>
                <db:input-parameters><![CDATA[#[msgId : 1]]]></db:input-parameters>
                <db:output-parameters>
                    <db:output-parameter key="out" type="REF" />
                </db:output-parameters>
            </db:stored-procedure>

            <set-payload value="%dw 2.0
                output application/json
                ---
                {
                    id: payload[0].MSG_ID,
                    state: payload[0].STATE,
                    msg: payload[0].MSG
            }"/>


            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value='#["ERROR-----&gt;" ++ "Error Description: " ++ error.description ++ "; Error errorType: " ++ error.errorType.identifier]'/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>