src/test/resources/tita/stored-procedure-oracle-xmltype-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>

    <api-gateway:autodiscovery apiId="${api1}" flowRef="oraclesXmlTypeTest"/>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port}" protocol="HTTP"/>
    </http:listener-config>

    <db:config name="Database_Config">
        <db:oracle-connection host="localhost" port="${db.port}" user="SYSTEM" password="Oradoc_db1" instance="ORCLCDB" />
    </db:config>

    <flow name="oraclesXmlTypeTest">
        <http:listener path="/test" config-ref="listenerConfig"/>

        <set-variable value="#[payload]" variableName="originalPayload" mimeType="application/xml"/>

        <try>
            <db:execute-script config-ref="Database_Config">
                <db:sql><![CDATA[DROP TABLE ALIEN]]></db:sql>
            </db:execute-script>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>
        <db:execute-ddl config-ref="Database_Config">
            <db:sql><![CDATA[CREATE TABLE ALIEN(NAME varchar2(255), DESCRIPTION XMLTYPE)]]></db:sql>
        </db:execute-ddl>
        <db:execute-ddl config-ref="Database_Config">
            <db:sql><![CDATA[CREATE OR REPLACE PROCEDURE insertAlienDescription(pName IN VARCHAR2, pDescription IN XMLType) IS
                        BEGIN
                          INSERT INTO Alien VALUES (pName, pDescription);
                        END;]]>
            </db:sql>
        </db:execute-ddl>
        <db:execute-ddl config-ref="Database_Config">
            <db:sql><![CDATA[CREATE OR REPLACE PROCEDURE getAlienDescription(pName IN VARCHAR2, pDescription OUT XMLType) IS
                            BEGIN
                              SELECT DESCRIPTION INTO pDescription FROM Alien WHERE NAME = pName;
                            END;]]>
            </db:sql>
        </db:execute-ddl>

        <try>
            <db:stored-procedure config-ref="Database_Config">
                <db:sql><![CDATA[{ CALL insertAlienDescription(:name, :data) }]]></db:sql>
                <db:input-parameters><![CDATA[#[{
                                          "name" : "Julian",
                                          "data": vars.originalPayload
                                        }]]]>
                </db:input-parameters>
            </db:stored-procedure>
            <set-payload value="SUCCESS"/>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value="ERROR"/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>
