src/test/resources/tita/stored-procedure-oracle-xmltype-app.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
            http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <configuration-properties file="${applicationsConfigProperties}"/>

    <api-gateway:autodiscovery apiId="${api1}" flowRef="oraclesXmlTypeTest"/>

    <api-gateway:autodiscovery apiId="${api2}" flowRef="oracleXmlTypeInsertTest"/>

    <http:listener-config name="listenerConfig">
        <http:listener-connection host="localhost" port="${port1}" protocol="HTTP"/>
    </http:listener-config>

    <http:listener-config name="listenerConfig2">
        <http:listener-connection host="localhost" port="${port2}" protocol="HTTP"/>
    </http:listener-config>

    <db:config name="Database_Config">
        <db:oracle-connection host="localhost" port="${db.port}" user="SYSTEM" password="Oradoc_db1" instance="ORCLCDB"/>
    </db:config>

    <flow name="oraclesXmlTypeTest">
        <http:listener path="/test" config-ref="listenerConfig"/>

        <try>
            <db:execute-script config-ref="Database_Config">
                <db:sql><![CDATA[DROP TABLE ALIEN]]></db:sql>
            </db:execute-script>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>
        <db:execute-ddl config-ref="Database_Config">
            <db:sql><![CDATA[CREATE TABLE ALIEN(NAME varchar2(255), DESCRIPTION XMLTYPE)]]></db:sql>
        </db:execute-ddl>
        <db:execute-ddl config-ref="Database_Config">
            <db:sql><![CDATA[CREATE OR REPLACE PROCEDURE insertAlienDescription(pName IN VARCHAR2, pDescription IN XMLTYPE) IS
                        BEGIN
                          INSERT INTO Alien VALUES (pName, pDescription);
                        END;]]>
            </db:sql>
        </db:execute-ddl>
        <db:execute-ddl config-ref="Database_Config">
            <db:sql><![CDATA[CREATE OR REPLACE PROCEDURE getAlienDescription(pName IN VARCHAR2, pDescription OUT XMLTYPE) IS
                            BEGIN
                              SELECT DESCRIPTION INTO pDescription FROM Alien WHERE NAME = pName;
                            END;]]>
            </db:sql>
        </db:execute-ddl>

        <set-payload mimeType="text/plain" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;note&gt;&lt;to&gt;Tove&lt;/to&gt;&lt;from&gt;Jani&lt;/from&gt;&lt;heading&gt;JULOJULOJULO&lt;/heading&gt;&lt;body&gt;Don't forget me this weekend!&lt;/body&gt;&lt;/note&gt;"/>

        <try>
            <db:stored-procedure config-ref="Database_Config">
                <db:sql><![CDATA[{ CALL insertAlienDescription(:name, :data) }]]></db:sql>
                <db:input-parameters><![CDATA[#[{
                                          "name" : "Julian",
                                          "data": payload
                                        }]]]>
                </db:input-parameters>
            </db:stored-procedure>

            <set-payload value="SUCCESS"/>

            <error-handler>
                <on-error-continue enableNotifications="true" logException="true">
                    <set-payload value='#["ERROR-----&gt;" ++ "Error Description: " ++ error.description ++ "; Error errorType: " ++ error.errorType.identifier]'/>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="oracleXmlTypeInsertTest">
        <http:listener path="/test-insert" config-ref="listenerConfig2"/>

        <try>
            <db:execute-script config-ref="oracleDbConfig">
                <db:sql><![CDATA[DROP TABLE XMLTest]]></db:sql>
            </db:execute-script>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="false">
                </on-error-continue>
            </error-handler>
        </try>
        <db:execute-ddl config-ref="oracleDbConfig">
            <db:sql><![CDATA[CREATE TABLE XMLTEST (ID NUMBER, PUBDATA XMLTYPE)]]></db:sql>
        </db:execute-ddl>

        <set-variable value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;note&gt;&#10;&lt;to&gt;Bob&lt;/to&gt;&#10;&lt;from&gt;Alice&lt;/from&gt; &#10;&lt;heading&gt;Reminder&lt;/heading&gt;&#10;&lt;body&gt;Don't forget me this weekend!&lt;/body&gt;&#10;&lt;/note&gt;" variableName="xmlVar" mimeType="text/plain"/>
        <db:insert config-ref="oracleDbConfig">
            <db:sql>
                INSERT INTO XMLTEST (ID, PUBDATA) VALUES (1, :description)
            </db:sql>
            <db:input-parameters>
                #[
                {'description' : vars.xmlVar}
                ]
            </db:input-parameters>
        </db:insert>
    </flow>

</mule>