src/test/resources/integration/metadata/polling-source-key-resolver.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <flow name="listener">
        <db:listener config-ref="dbConfig" table="PLANET">
            <scheduling-strategy>
                <fixed-frequency frequency="1000"/>
            </scheduling-strategy>
        </db:listener>
        <logger message="#[payload]"/>
    </flow>
</mule>
